/* GLOBAL */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;

    color: #5A5A5A
}

header {
    min-height: 100%;
    position: relative;

    color: #FFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline-block;
}

section {
    max-width: 1024px;
    margin: auto;
}

/* BUTTON */

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #32BE8B;

    border-radius: 35px;
}

.btn-primary.orcamento {
    background-color: transparent;
    border: 1px solid #fff;

    width: 200px;
    height: 28px;
    padding-top: 6px;
}

.btn-primary.quero-orcamento {
    font-weight: 800;
    font-size: 18px;
    line-height: 30px;

    margin-top: 40px;
    width: 304px;
    height: 45px;
    padding-top: 15px;
}

.btn-primary.quero-orcamento:hover, .btn-primary.send:hover {
    background-color: rgb(56, 201, 153);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
}

.btn-primary.orcamento:hover {
    background-color: #fff;
    color: #855AFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.btn-primary.send {
    font-weight: 800;
    width: 300px;
    height: 34px;
    padding-top: 10px;
    
}

/* HEADER */
.header-background {
    background: url('../images/header_background.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100%;
    height: 80vh;
    min-height: 556px;
}

.header-text {
    margin: auto;
    padding-top: 30px;
    
    width: 100%;
    max-width: 1024px;

    z-index: 20;
}

.header-text .nd-row {
    margin: auto;
}

.header-text ul li {
    margin-right: 39px;
    font-size: 16px;
    line-height: 22px;

    cursor: pointer;
}
.header-text ul li:last-of-type {
    margin-left: 0;
}

.header-title {    
    font-size: 72px;
    font-weight: 600;
    line-height: 98px;
    letter-spacing: 0.45em;
    display: block;

    margin-left: 0.45em;
    margin-top: 7vw;
}

.header-subtitle {    
    font-weight: 300;
    font-size: 26px;
    line-height: 49px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: block;

    color: #D5C6FF;

    margin-top: -10px;
}

.header-description {
    font-size: 24px;
    line-height: 33px;
    display: block;

    margin-top: 20px;
}

/* 1 SECTION */
.slogan {
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    
    margin: auto;
    display: block;
    max-width: 760px;
}

.presentation-area {
    max-width: 934px;

    margin: auto;
    margin-top: 120px;
}

.presentation-area:last-of-type {
    margin-bottom: 120px;
}

.presentation-area img {
    vertical-align: middle;
}

.presentation-text {
    max-width: 600px;
    margin-left: 74px;
    display: inline-block;
    vertical-align: middle;
}

.presentation-text.left {
    margin: 0 54px 0 0; 
}

.about-title,
.do-section-title,
.presentation-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 30px;

    display: block;
}

.presentation-description {
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    
    display: block;
}

/* 2 SECTION */
.do-section {
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #D9D7D7;
    box-sizing: border-box;

    max-width: 1100px;
    margin: auto;

    border-radius: 25px;
}

.do-section-title {
    text-align: center;
    padding: 25px 0 60px 0;
}

.do-area {
    padding-bottom: 80px;
}

.do-box {
    max-width: 255px;
    display: inline-block;

    text-align: center
}

.do-img-box {
    height: 138px;
    padding-bottom: 16px;
}

.do-area  .nd-col:nth-of-type(1) img {
    margin-top: 12px;
}
.do-area  .nd-col:nth-of-type(2) img {
    margin-top: 34px;
}

.do-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    display: block;
}

.do-list-item::before {
    content: url('../images/check.svg');

    margin-right: 10px;
}

.do-list-item {
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;

    display: block;
    margin-bottom: 6px;
    margin-left: 25px;
    text-align: left;

    color: #5A5A5A;
}

/* 3 SECTION */
.contact-section {
    margin-top: 110px;
}

.team-section{
    margin-bottom: 95px;
}

.team-member {
    text-align: center;
    max-width: 280px;
    
    display: inline-block;
}

.team-title {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2em;
    margin-top: 20px;

    display: block;
}

.team-description {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1em;

    display: block;
}

.team-section .nd-row .nd-col:nth-of-type(1) .team-member .team-description {
    color: #FF6275;
}
.team-section .nd-row .nd-col:nth-of-type(2) .team-member .team-description {
    color: #A768F6;
}
.team-section .nd-row .nd-col:nth-of-type(3) .team-member .team-description {
    color: #FF9A35;
}

/* 4 SECTION */
.contact-section {
    max-width: unset;
}

.contact-section .nd-row {
    margin: auto;
    max-width: 1024px;
}

.contact-background {
    background: url('../images/contact/fundo.svg') no-repeat center center;
    width: 100%;
    padding-bottom: 130px;
}
.contact-list {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;

    color: #7D7A7A;

    max-width: 430px;
    margin: auto;
}

.contact-list div {
    margin-bottom: 30px;
}

.contact-list div:last-of-type {
    margin-bottom: 0;
}

.contact-list div span {
    vertical-align: top;
}

.contact-list div img {
    display: inline-block;
    margin-right: 30px;
}

form {
    max-width: 600px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    width: 80%;
    
    color: #5A5A5A;
}

form label input,
form label textarea {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    display: block;
    width: 100%;

    margin-bottom: 30px;

    padding: 10px;
    color: #5A5A5A;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

form label input:focus,
form label textarea:focus {
    outline: 2px solid #A98BFF;
    -moz-outline-radius: 4px;
}

form label input {
    height: 35px;
    max-width: 600px;
}

form label textarea {
    height: 200px;
    max-width: 600px;
}

/* 5 SECTION */
.about {
    max-width: 625px;
    text-align: center;
    padding-bottom: 68px;
}

.about img,
.about span {
    display: block;
}

.about img {
    margin: auto;
}

.about-text {
    font-size: 20px;
    line-height: 27px;

    color: #5A5A5A;
}

.about-title {
    margin: 10px 0 13px 0;
}

/* footer */
footer {
    background: url('../images/footer/fundo.svg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    width: 100%;
    height: 40vh;
    min-height: 282px;
}

footer .nd-col {
    position: relative;
}

.footer-menu {
    font-size: 16px;
    line-height: 22px;

    color: #FFF;
    border-left: 1px solid #fff;

    position: absolute;
    margin-left: 50px;
    bottom: 20px;
}

.footer-menu span {
    display: block;
    padding-left: 50px;
    margin-bottom: 10px;

    cursor: pointer;
}

.contact-list.footer {
    text-align: right;
    position: absolute;
    padding-right: 50px;
    bottom: 20px;
    right: 50px;

    padding-bottom: 40px;

    font-weight: normal;

    color: #fff;
    border-right: 1px solid #fff;
}

.whats-footer{
    width: 24px;
    padding-right: 15px;
    margin-bottom: -5px;
}

.contact-list.footer span {
    margin-bottom: 20px;
    display: block;
}

.contact-list.footer a {
    padding: 0px;
    margin-left: 5px
}


.contact-list.footer img {
    margin-right: 10px;
}

.contact-list.footer img:last-of-type {
    margin-right: 0;
}

.pattern-final-web {
    height: 41px;

    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #FFF;
    background: #1C0E43;
}

.pattern-final-web div {
    margin-top: 10px;
}

.pattern-final-web img {
    height: 20px;
    width: 20px;
}

.pattern-final-web span {
    vertical-align: top;
}